[{rabbit,        [
          {auth_backends, [rabbit_auth_backend_cache]},
                  {ssl_options, [{cacertfile, "/keys/ca_certificate.pem"},
                                 {certfile,   "/keys/server_certificate.pem"},
                                 {keyfile,    "/keys/server_key.pem"},
                                 {verify,     verify_none},
                                 {fail_if_no_peer_cert, false}]}
                 ]},
 {rabbitmq_auth_backend_cache, [
                                {cached_backend, rabbit_auth_backend_http},
                  {cache_ttl, 10000}
                               ]
  },
  {rabbitmq_auth_backend_http, [{http_method,   post},
                                {user_path,            "http://iot-server:8085/api/auth/rabbitmq/user"},
                                {vhost_path,           "http://iot-server:8085/api/auth/rabbitmq/vhost"},
                                {resource_path,        "http://iot-server:8085/api/auth/rabbitmq/resource"},
                                {topic_path,           "http://iot-server:8085/api/auth/rabbitmq/topic"}
                               ]
  },
 {rabbitmq_mqtt, [
                {retained_message_store,rabbit_mqtt_retained_msg_store_dets},
                {retained_message_store_dets_sync_interval,2000},
                {ssl_listeners,    [8883]},
                {tcp_listeners,    [1883]}
                ]
 }
].